#projects {
  position: relative;
  text-align: center;
  background-image: url('../assets/images/techs2.png');
  background-size: 532px 532px;
  /* or adjust to your desired height */
  background-position: bottom 200px left 333px;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
}

.software-title {
  margin: 0;
  padding: 0;
}

.project-list {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  list-style: none;
  margin: 0;
  margin-right: 12px;
  padding: 0;
}

.project-list li {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  color: azure;
  border: 1px solid azure;
  border-radius: 15px;
  padding: 5px 8px;
  margin: 0;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 300ms ease;
}

.project-list li.active {
  transition: 300ms ease;
  background-color: rgba(14, 107, 110, 0.4);
  color: aquamarine;
  border-color: aquamarine;
  font-weight: bold;
}


.project-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 10px;
  margin-top: 20px;
  scroll-snap-align: start;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  margin: 0;
  scrollbar-width: none;
}

.project {
  animation: slide-left-right-in 1s ease;
  display: flex;
  flex-flow: column;
  min-width: 100%;
  scroll-snap-align: start;
  gap: 0;
  margin: 0;
  padding: 0;
}

.project h3 {
  margin: 10px;
  padding: 0;
}

.project h3 a {
  color: mediumaquamarine !important;
  font-size: 0.9rem;
  font-family: 'Courier New', Courier, monospace;
  text-underline-offset: 3px;
}

.project-buttons {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.project-buttons button {
  background-color: rgba(14, 107, 110, 0.432);
  color: aquamarine;
  transform: scale(105%);
  border: 1px solid black;
  border-radius: 10px;
  padding: 3px 10px 3px;
  transition: 300ms ease;
  cursor: pointer;
}

.project-buttons button:hover {
  transition: 300ms ease;
  background-color: azure;
  color: black;
  transform: scale(105%);
  border: 1px solid black;
  border-radius: 10px;
  transform: scale(110%);
  padding: 3px 10px 3px;
}


.project-buttons .active {
  background-color: black;
  border-color: burlywood;
}

.project h4 {
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.proeject h4:first-child {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.project p {
  margin: 0 121px;
  padding: 5px;
  font-size: 0.9rem;
  text-align: justify;
}

.tech-stack {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  text-align: left;
}

.tech-stack ul {
  display: flex;
  flex-flow: column;
  gap: 5px;
  border: 1px solid azure;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.84);
  padding: 5px 10px 0;
  margin-right: 12px;
  width: fit-content;
  list-style: none;
}

.tech-stack li {
  text-align: left;
  font-size: 0.9rem;
  transition: 300ms ease;
  cursor: crosshair;
  width: fit-content !important;
  margin: 0;
  margin-bottom: 3px;
  background-color: rgba(14, 107, 110, 0.3);
  color: aliceblue;
  transform: scale(105%);
  border-radius: 10px;
  padding: 0px 2px 0px;
}

.tech-stack li:hover {
  transition: 300ms ease;
  background-color: rgba(14, 107, 110, 0.432);
  color: aquamarine;
  transform: scale(105%);
  border: 1px solid black;
  border-radius: 10px;
  padding: 3px 5px 3px;
  width: fit-content !important;
}

.project-preview {
  animation: slide-up-down 1s ease;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 40%;
  border: 2px solid azure;
  border-radius: 21px;
  overflow: hidden;
}

.project-preview video {
  width: auto;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.media-preview {
  animation: slide-up-down 1s ease;
  position: relative;
  left: 30%;
  transform: translate(-35%);
  width: fit-content;
  height: 520px;
  margin-top: 12px;
  border: 1px solid azure;
  border-radius: 21px;
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: none;
  scrollbar-width: none;
  display: flex;
  justify-content: flex-start;
  scroll-behavior: smooth;
}

.media-preview img {
  width: auto;
  height: 150%;
  image-rendering: optimizeQuality;
  opacity: 95%;
  object-fit: cover;
}

@media screen and (max-width: 630px) {
  #projects {
    background-size: 210px 210px;
    background-position: bottom 123px left;
  }

  .project p {
    margin: 0 0;
    font-size: 0.8rem;
  }

  .tech-stack {
    gap: 0;
    padding: 0;
  }

  .tech-stack ul {
    display: flex;
    flex-flow: wrap;
    align-items: flex-end;
    gap: 3px;
    margin-top: 3px;
  }

  .tech-stack li {
    font-size: 0.8rem;
  }

  .project-preview {
    left: 35%;
    width: 47%;
    height: auto;
    padding: 0;
    display: flex;
  }

  .media-preview {
    position: relative;
    left: 25%;
    transform: translate(-35%);
    width: 70%;
    height: 150px;
    align-items: start;
  }

  .media-preview img {
    width: 500px;
    height: auto;
    object-fit: cover;
  }
}