#projects {
  position: relative;
  text-align: center;
}

.software-title {
  margin: 0;
  padding: 0;
}

.project-list {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  list-style: none;
  margin: 0;
  margin-right: 12px;
  padding: 0;
}

.project-list li {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  color: azure;
  border: 1px solid azure;
  border-radius: 15px;
  padding: 5px 8px;
  margin: 0;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 300ms ease;
}

.project-list li.active {
  transition: 300ms ease;
  background-color: rgba(14, 107, 110, 0.4);
  color: aquamarine;
  border-color: aquamarine;
  font-weight: bold;
}


.project-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 10px;
  margin-top: 20px;
  scroll-snap-align: start;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  margin: 0;
  scrollbar-width: none;
}

.project {
  display: flex;
  flex-flow: column;
  min-width: 100%;
  scroll-snap-align: start;
  gap: 0;
  margin: 0;
  padding: 0;
}

.project h3 {
  margin: 10px;
  padding: 0;
}

.project h3 a {
  color: mediumaquamarine !important;
  font-size: 0.9rem;
  font-family: 'Courier New', Courier, monospace;
}

.project-buttons {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.project-buttons button {
  background-color: rgba(14, 107, 110, 0.432);
  color: aquamarine;
  transform: scale(105%);
  border: 1px solid black;
  border-radius: 10px;
  padding: 3px 10px 3px;
  transition: 300ms ease;
  cursor: pointer;
}

.project-buttons button:hover {
  transition: 300ms ease;
  background-color: azure;
  color: black;
  transform: scale(105%);
  border: 1px solid black;
  border-radius: 10px;
  transform: scale(110%);
  padding: 3px 10px 3px;
}


.project-buttons .active {
  background-color: black;
  border-color: burlywood;
}

.project h4 {
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.proeject h4:first-child {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.project p {
  margin: 0;
  margin-right: 12px;
  padding: 5px;
  font-size: 0.9rem;
  text-align: justify;
}

.tech-stack {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  text-align: left;
}

.tech-stack ul {
  display: flex;
  flex-flow: column;
  gap: 5px;
  border: 1px solid azure;
  border-radius: 15px;
  padding: 5px 10px 0;
  margin-right: 12px;
  width: fit-content;
  list-style: none;
}

.tech-stack li {
  text-align: left;
  font-size: 0.9rem;
  transition: 300ms ease;
  cursor: crosshair;
  width: fit-content !important;
  margin: 0;
  margin-bottom: 3px;
}

.tech-stack li:hover {
  transition: 300ms ease;
  background-color: rgba(14, 107, 110, 0.432);
  color: aquamarine;
  transform: scale(105%);
  border: 1px solid black;
  border-radius: 10px;
  padding: 3px 5px 3px;
  width: fit-content !important;
}

.project-preview {
  animation: slide-up-down 1s ease;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 40%;
  border: 2px solid azure;
  border-radius: 21px;
  overflow: hidden;
}

.project-preview video {
  width: auto;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 630px) {
  .project p {
    font-size: 0.8rem;
  }

  .tech-stack ul {
  display: flex;
  flex-flow: wrap;
  gap: 0px;
}

  .tech-stack li {
    font-size: 0.8rem;
  }
}