* { 
  box-sizing: border-box;
}

#page {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  border: double 7px;
  height: 100vh;
}

body {
  border-left: double 4px rgb(16, 175, 175);
  border-right: double 4px rgb(16, 175, 175);
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(1, 1, 29);
  color: azure;
  width: 100%;
  margin: 0;
}

main {
  min-height: 100px;
  height: 700px;
}

/*----Project---*/
#projects {
  display: flex;
  overflow: auto;
}