/*font-family: 'Josefin Slab', serif;
font-family: 'League Script', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Raleway Dots', cursive;
font-family: 'Rouge Script', cursive;
font-family: 'Rubik Moonrocks', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Tourney', cursive;*/

html {
  font-size: 16px;
}

h1 {
  font-family: 'Josefin Slab';
}

#at {
  font-family: "Tourney";
  color: aquamarine;
}

#dot {
  font-family: "Tourney";
  color: orange;
  font-size: 2rem;
}

.bracket {
  color: aquamarine;
}

#infinity {
  color:rgb(121, 55, 183);
  font-size: 2rem;
}

h2 {
  font-family: 'Sacramento';
  font-size: 4rem;
  font-weight: 200;
}

h3 {
  font-family: 'Tourney';
  font-size: 1.2rem;
}

h4 {
  font-family: 'Josefin Slab';
  font-size: 1.7rem;
  text-decoration: underline;
}

a {
  font-family: 'Poiret One';
  font-size: 1.5rem;
  font-weight: 800;
}

p {
  font-family: 'Raleway';
  font-size: 1rem;
  color: black;
}

#small-message {
  font-size: 1.23em;
}

#name {
  font-family: "Raleway Dots";
  font-size: 2rem;
  font-weight: bolder;
  font-style: italic;
}

#name {
  color: black;
  text-decoration: underline rgba(240, 255, 255, 0.712);
  text-underline-offset: 0.3rem;
}

#name:visited {
  color: black;
}

#about p {
  color: azure;
}

#background-credit {
  font-family: 'Rubik Moonrocks';
  font-size: 1rem;
}

/*---Animations---*/

@keyframes underline-me {
  from {
    text-decoration: underline 0.2rem rgba(229, 229, 229, 0);
  }
  to {
    text-decoration: underline 0.2rem rgb(78, 188, 151);
    text-underline-offset: 0.3rem;
  }
}

a:hover, a:active, h4:hover, a:focus, a:focus, h4:focus, #name:hover{
  animation: underline-me 2s;
  text-underline-offset: 0.3rem;
}

@keyframes revelio {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

main {
  animation: revelio 1s ease-in;
}

@keyframes slidein {
  from {
    transform: translateX(1000%);
  }
  to {
    transform: translateX(0%);
  }
}

figure, #contacts {
  animation: slidein 4s;
}

#contacts img:hover {
  transform: rotate(360deg);
  transition: 2.5s;
}     

@keyframes highlight-teal {
  from {
    background-color: none;
  }
  to {
    background-color: rgb(16, 175, 175);
  }
}

#topnav li:hover {
  animation: highlight-teal 2s;
}

@keyframes highlight-azure {
  from {
    background-color: rgb(12, 99, 99);
  }
  to {
    background-color: azure;
  }
}

#sidenav li:hover {
  animation: highlight-azure 2s ease-in-out;
  background-color: azure;
}

@keyframes spin-color {
  from {
    transform: rotate(0deg);
  } 
  to {
    transform: rotate(1440deg);
  }
  0% {
    color: blueviolet;
  }
  33% {
    color: rgb(197, 77, 34);
  }
  67% {
    color: azure;
  }
  100% {
    color: aquamarine;
  }
}

#infinity {
  display: inline-flex;
  animation: spin-color 20s infinite ease-in-out;
}

