/*----Footer-&-Contact----*/

#buffer {
  border-top: double 3px rgb(16, 175, 175);
  border-bottom: double 3px rgb(16, 175, 175);
  min-height: 40px;
  background: url(../../assets/images/bg-image-3.jpg) no-repeat center/ cover;
  width: 100%;
}

#footer h3 {
  margin: 20px 0;
  padding: 0;
}

#footer {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  text-align: center;
  width: 100%;
  min-height: 70px;
  background-color: rgb(1, 1, 29);
  border-top: double 3px rgb(16, 175, 175);
  border-bottom: double 3px rgb(16, 175, 175);
}

#footer img {
  width: 45px;
  margin: 0;
  padding: 3px;
}

#contact {
  display: inline-flex;
}

#contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

#contacts li {
  margin: 0 10px;
}

#sidenav {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  background: hsla(166, 70%, 32%, 0.563);
  width: 100%;
  margin: 0;
  padding: 3px;
  list-style-type: none;
}

sidenav li {
  margin: 0;
  padding: 0;
}

#sidenav a {
  text-decoration: none;
  color: black;
}

#sidenav a:visited {
  color: black;
}

@media only screen and (min-width: 1080px) {
  #sidenav {
    display: flex;
    flex-flow: column;
    text-align: left;
    justify-content: stretch;
    position: fixed;
    top: 31%;
    right: 0px;
    list-style: none;
    z-index: 2;
    max-width: 150px;
    background: none;
  }
  
  #sidenav li {
    border-top: black 2px double;
    border-left: black 2px double;
    border-bottom: black 2px double;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: double 3px rgb(16, 175, 175);
    background-color: hsla(167, 54%, 47%, 0.563);
    margin: 0 0 5px;
    padding: 7px;
    cursor: pointer;
    text-align: center;
  }
}