/*----HEADER-&-NAVIGATION----*/

#header {
  width: 100%;
  border-bottom: double 3px rgb(16, 175, 175);
  background-color: rgb(1, 1, 29);
  position: sticky;
  top: 0;
  z-index: 2;
}

h1 {
  margin: 25px 0;
  padding: 0;
}

#topnav {
  display: flex;
  justify-content: center;
  list-style: none;
}

#topnav li {
  border: double 3px;
  border-radius: 10px;
  margin: 0 30px;
  padding: 5px;
}

#topnav a {
  color: azure;
}

#topnav a:visited {
  color: azure;
}